body{
    margin: 0;
    padding: 0;  
}
h1{
    background-color:black;
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    filter: invert(0);
}
h3{
    color: royalblue;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family: 'Arial', cursive;
    font-size: 28px;
    text-shadow: 4px 4px 4px #aaa;
    filter: invert(0);
}
div#code{
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family: 'Comic sans', cursive;
    font-size: 20px;

}
#userProfile{
    display: table;
    width: auto;
    border: 1px solid gray;
    margin: 10px;
    padding:10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgThumb{
    border: 1px solid;
    border-radius: 50%;
}
.button {
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
p{
    max-width: 300px;
}
div#page{
  display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    
}
.gigantic.pagination a {
    height: 60px;
    width: 60px;
    font-size: 20px;
    line-height: 40px;
}
.pagination a {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    outline: none;
    border-right: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    color: #555555;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: Times, 'Times New Roman', Georgia, Palatino;
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
    background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
    background-image: linear-gradient(#f3f3f3, lightgrey);
}
.gigantic.pagination input {
    width: auto;
    height: 60px;
    font-size: 20px;
}
.pagination input {
    float: left;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 20px;
    outline: none;
    border: none;
    vertical-align: middle;
    text-align: center;
}
a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.gigantic.pagination {
    margin: 30px 0;
}
.pagination {
    display: inline-flex;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
}
#users{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
    grid-auto-flow: dense;
}

@media only screen and (max-width: 870px) {
#users{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
}
}
@media only screen and (max-width: 745px) {
#users{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3px;
}
}
@media only screen and (max-width: 450px) {
#users{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3px;
}
}